// Workdir for temporary data
projectName = 'TO_BE_SET'
date = new Date().format( 'yyyyMMdd-HHmmss')
// timestamp working directory (don't use timestamp if you wish to resume your workflow)
//workDir = "$SCRATCH/wf/$date-$projectName"
// no timestamp workDir
workDir = "$SCRATCH/wf/$projectName"


// Git informations of workflow
manifest {
    homePage = 'https://gitlab.ifremer.fr/bioinfo/nextmb'
    description = 'Workflow for NGS metabarcoding data analysis used by Ifremer/SeBiMer team'
    defaultBranch = 'master'
    author = 'Cyril Noël, Laure Quintric'
    mainScript = 'MB.nf'
    name = 'SeBiMer-MB-Workflow'
}

// Define env variable that will be accessible in nextflow tasks
env {
    TMPDIR = "$SCRATCH"
}

includeConfig 'config/params.config'
includeConfig 'config/resources.config'
includeConfig 'config/reports.config'
