includeConfig 'conf/base.config'
includeConfig 'conf/resources.config'
includeConfig 'conf/reports.config'

// Workdir for temporary data
workDir = "${baseDir}/tmp_SAMBA/$params.projectName"


// Git informations of workflow
manifest {
    homePage = 'https://gitlab.ifremer.fr/bioinfo/SAMBA-nextflow'
    description = 'Standardized and Automated MetaBarcoding Analyses workflow developped by Ifremer SeBiMER team'
    defaultBranch = 'master'
    author = 'IFREMER-IRSI-SeBiMER'
    mainScript = 'main.nf'
    name = 'SAMBA'
}
