/*
 * -------------------------------------------------
 *  Nextflow config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for samba processes
 */

params {

    /* 
    General parameters 
    */
    // Help message
    help = false
    monochrome_logs = false
    name = false
    email = false
    email_on_fail = false
    hostnames = false
    // Analyzed project name
    projectName = "training_dataset_project"
    // Data type (paired by default)
    singleEnd = false
    // Output directory to publish workflow results
    outdir = "${baseDir}/results/${projectName}"

    /*
    Outputs steps directory names in output directory
    */
    report_dirname = "00_report"
    steps_data = "steps_data"
    data_integrity_dirname = "${steps_data}/01_data_integrity"
    import_dirname = "${steps_data}/02_import"
    trimmed_dirname ="${steps_data}/03_trimmed"
    dada2_dirname = "${steps_data}/04_dada2"
    dbotu3_dirname = "${steps_data}/05_dbotu3"
    taxo_dirname = "${steps_data}/06_taxo"
    microDecon_dirname = "${steps_data}/07_microDecon"
    phylogeny_dirname = "${steps_data}/08_phylogeny"
    picrust2_dirname = "${steps_data}/09_picrust2"
    ancom_dirname = "${steps_data}/10_ancom"
    stats_dirname = "${steps_data}/11_statistical_analysis"
    lr_mapping_dirname = "${steps_data}/02_lr_mapping"

    /* 
    Name of analysis report
    */
    SAMBAtemplate = "${baseDir}/assets/template.html"
    SAMBAcss = "${baseDir}/assets/style.css"
    SAMBAlogo = "${baseDir}/docs/images/nfcore-samba_logo.png"
    SAMBAwf = "${baseDir}/docs/images/samba-v2.0.0.png"

    /*
    Data integrity checking step parameters
    */
    //primer minimum pourcentage filter to validate data
    primer_filter = "70"
    
    /*
    Distribution based-clustering using dbotu3
    */
    //adapt dbotu parameters to fit to your data
    //Genetic criterion
    gen_crit = "0.1"
    //Abundance criterion
    abund_crit = "10"
    //P-value criterion
    pval_crit = "0.0005"
 
    //to use complete database (faster option) : set extract_db to false, else set extract_db to true to extract primer region from reference database
    extract_db = false
    confidence = '0.9'
    
    /* 
    Predict functionnal abundance step using PICRUSt2
    */
    //HSP method of your choice. By default: 'mp' the most accurate prediction methode. Faster method: 'pic'
    method = "mp"   
    //Max nsti value accepted. By default: NSTI cut-off of 2 should eliminate junk sequences
    nsti = "2"     

    /*
    Statistical analyses
    */
    //Necessary file for plotly graphs
    plotly_js = "${baseDir}/assets/plotly-redirect-cdn-1.39.2.js"
}
