/*
 * -------------------------------------------------
 *  Nextflow config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for samba processes
 */

params {

    /* 
    General parameters 
    */
    // Help message
    help = false
    monochrome_logs = false
    name = false
    email = false
    email_on_fail = false
    hostnames = false
    // Analyzed project name
    projectName = "training_dataset_project"
    // Data type (paired by default)
    singleEnd = false
    // Output directory to publish workflow results
    outdir = "${baseDir}/SAMBA_results_of_${projectName}"

    /*
    Outputs steps directory names in output directory
    */
    report_dirname = "00_report"
    steps_data = "steps_data"
    data_integrity_dirname = "${steps_data}/01_data_integrity"
    import_dirname = "${steps_data}/02_import"
    trimmed_dirname ="${steps_data}/03_trimmed"
    dada2_dirname = "${steps_data}/04_dada2"
    dbotu3_dirname = "${steps_data}/05_dbotu3"
    taxo_dirname = "${steps_data}/06_taxo"
    microDecon_dirname = "${steps_data}/07_microDecon"
    phylogeny_dirname = "${steps_data}/08_phylogeny"
    picrust2_dirname = "${steps_data}/09_picrust2"
    ancom_dirname = "${steps_data}/10_ancom"
    stats_dirname = "${steps_data}/11_statistical_analysis"

    /* 
    Name of analysis report
    */
    SAMBAtemplate = "${baseDir}/assets/template.html"
    SAMBAcss = "${baseDir}/assets/style.css"
    SAMBAlogo = "${baseDir}/docs/images/nfcore-samba_logo.png"

    /*
    Steps to activate or deactivate
    */
    data_integrity_enable = true
    dbotu3_enable = false
    microDecon_enable = false
    picrust2_enable = false
    stats_alpha_enable = true
    stats_beta_enable = true
    stats_desc_comp_enable = true
    report_enable = true
    //STATS ONLY : set stats_only to true if you already have your ASV table
    stats_only = false
    //Dada2 merge process
    dada2merge = false

    /*
    Data integrity checking step parameters
    */
    //columns' names in manifest file
    sampleid_column_name = "sample-id"
    R1_files_column_name = "forward-absolute-filepath"
    R1_single_files_column_name = "absolute-filepath"
    R2_files_column_name = "reverse-absolute-filepath"
    //columns' names in metadata file
    barcode_column_name = "barcode"
    //barcode minimum pourcentage filter to validate data
    barcode_filter = "90"
    //primer minimum pourcentage filter to validate data
    primer_filter = "70"
    //primers sequences are also needed, see Cleaning section below
    
    /*
    Cleaning primers step using cutadapt
    */
    //Error rate default=0.1
    errorRate = "0.1"
    //Overlap default=(length shortest primer - 1)
    overlap = "18"

    /*
    ASV inference step using Dada2
    */
    //adapt dada2 parameters to fit to your data
    //trim default=0 (no trimming)
    trimLeft = "0"
    trimRight = "0"
    //trunclen : according to the quality plots of your data, set the length of the trimming (0=no initial trimming)
    FtruncLen = "0"
    RtruncLen = "0"
    //MaxEE error rate allowed for reads ; default 2
    FmaxEE = "2"
    RmaxEE = "2"
    //min. quality allowed ; default 2
    minQ = "10"
    //Chimeras : method used to remove chimeras ; choices: 'consensus' (default), 'none' or 'pooled'
    chimeras = "consensus"

    //to set if DADA2 MERGE ASVs tables is activated
    //path to dada2 directory with ASV tables to merge (directory must contained only the tables to merge)
    merge_tabledir = "/PATH/TO/merge/table"
    //path to dada2 directory with repseqs to merge (directory must contained only the repseq files to merge)
    merge_repseqsdir = "/PATH/TO/merge/seq"

    /*
    Distribution based-clustering using dbotu3
    */
    //adapt dbotu parameters to fit to your data
    //Genetic criterion
    gen_crit = "0.1"
    //Abundance criterion
    abund_crit = "10"
    //P-value criterion
    pval_crit = "0.0005"
 
    /*
    ASV taxonomic assignation using QIIME2 RDP-like program
    */
    //extract region from reference database using primers (default but takes time)
    seqs_db = ""
    taxo_db = ""

    //to use complete database (faster option) : set extract_db to false, else set extract_db to true to extract primer region from reference database
    extract_db = false
    confidence = '0.9'
    
    /* 
    Predict functionnal abundance step using PICRUSt2
    */
    //HSP method of your choice. By default: 'mp' the most accurate prediction methode. Faster method: 'pic'
    method = "mp"   
    //Max nsti value accepted. By default: NSTI cut-off of 2 should eliminate junk sequences
    nsti = "2" 
    
    /*
    Statistics steps parameters
    */
    //Kingdom to be represented in barplots
    kingdom = "Bacteria"
    //Maximum number of taxa to represent
    taxa_nb = "10"
    //Hierarchical clustering method
    hc_method = "ward.D2"

    //if STATS_ONLY is activated
    inasv_table = "/PATH-TO/your_own_ASV_table.tsv"
    innewick = "/PATH-TO/your_own_tree.nwk"
}
