/*
 * -------------------------------------------------
 *  Nextflow config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for samba processes
 */

params {

    /* --------------------
     *  General parameters
     * --------------------
     */
    
    // Help message
    help = false
    
    monochrome_logs = false
    name = false
    email = false
    email_on_fail = false
    hostnames = false

    /* ------------------------
     *  Output directory names
     * ------------------------
     */
    report_dirname = "02_report"
    excel2tsv_results = "${report_dirname}/01_excel2tsv"
    data_integrity_results = "${report_dirname}/02_data_integrity"
    filter_contaminants_results = "${report_dirname}/11_filter_contaminants"
    asv_phylogeny_results = "${report_dirname}/12_asv_phylogeny"
    ancombc_results = "${report_dirname}/13_differential_abundance_testing"
    r_results = "${report_dirname}/15_statistical_analyses"
    nanopore_read_length_filtering_results = "${report_dirname}/02_read_length_filtering"
    nanopore_mapping_results = "${report_dirname}/03_mapping_against_db"
    nanopore_getfasta_results = "${report_dirname}/04_getfasta"
    nanopore_count_table_results = "${report_dirname}/05_get_count_table"
    nanopore_r_results = "${report_dirname}/06_statistical_analyses"

    steps_data_dirname = "99_steps_data"
    import_step = "${steps_data_dirname}/03_import"
    cutadapt_step ="${steps_data_dirname}/04_cutadapt"
    dada2_step = "${steps_data_dirname}/06_DADA2"
    swarm_clustering_step = "${steps_data_dirname}/07_swarm"
    dbotu3_step = "${steps_data_dirname}/07_dbOTU3"
    assign_taxo_step = "${steps_data_dirname}/08_assign_taxo"
    filter_table_by_tax_step = "${steps_data_dirname}/09_filter_table_by_tax"
    filter_table_by_data_step = "${steps_data_dirname}/10_filter_table_by_data"
    filter_contaminants_step = "${steps_data_dirname}/11_filter_contaminants"
    ancombc_step =  "${steps_data_dirname}/13_ancombc"

/*    picrust2_dirname = "${steps_data}/10_picrust2"*/
/*    stats_dirname = "${steps_data}/12_statistical_analysis"*/
/*    lr_mapping_dirname = "${steps_data}/02_lr_mapping"*/
/*    lr_taxonomy_dirname = "${steps_data}/03_lr_taxonomy"*/

    /* -------------------------
     *  Data integrity checking
     *  parameters
     * -------------------------
     */

    //primer minimum pourcentage filter to validate data
    primer_filter = "70"

    /* -------------------------
     *  Distribution-based ASV
     *  clustering using dbotu3
     * -------------------------
     */

    //Genetic criterion
    gen_crit = "0.1"
    
    //Abundance criterion
    abund_crit = "10"
    
    //P-value criterion
    pval_crit = "0.0005"

    /* -------------------------
     *  Taxonomic assignation
     * -------------------------
     */

    //Confidence threshold for limiting taxonomic depth.
    //Set to "disable" to disable confidence calculation, or 0 to calculate confidence but not apply it to limit the taxonomic depth of the assignments
    confidence = '0.7'

    /* 
    Name of analysis report
    */
    SAMBAtemplate = "${baseDir}/assets/template.html"
    SAMBAcss = "${baseDir}/assets/style.css"
    SAMBAwf = "${baseDir}/docs/images/samba-v3.0.png"

}
