/*
 * -------------------------------------------------
 *  Nextflow test config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for samba processes
 */

params {

    // Analyzed project name
    projectName = ""
    // Data type (paired by default)
    singleEnd = false
    // Output directory to publish workflow results
    outdir = "${baseDir}/results/${projectName}"

    // Input parameters for QIIME2
    input_manifest = ""
    input_metadata = ""

    /*
    Steps to activate or deactivate
    */
    data_integrity_enable = true
    dbotu3_enable = true
    microDecon_enable = true
    picrust2_enable = false
    ancom_enable = true
    stats_alpha_enable = true
    stats_beta_enable = true
    stats_desc_comp_enable = true
    report_enable = true
    // To compress final result directory set compress_result to true
    compress_result = true
    //STATS ONLY : set stats_only to true if you already have your ASV table
    stats_only = false
    //Dada2 merge process
    dada2merge = false
    //Activate longreads for pacbio or nanopore input data (longreads=false by default to handle illumina short reads)
    longreads = false

    /*
    Cleaning primers step using cutadapt
    */
    //Set your forward and reverse primers for cutadapt
    primerF = ""
    primerR = ""
    //Error rate default=0.1
    errorRate = "0.1"
    //Overlap default=(length shortest primer - 1)
    overlap = ""

    /*
    ASV inference step using Dada2
    */
    //adapt dada2 parameters to fit to your data
    //trim default=0 (no trimming)
    FtrimLeft = "0"
    RtrimLeft = "0"
    //trunclen : according to the quality plots of your data, set the length of the trimming (0=no initial trimming)
    FtruncLen = "0"
    RtruncLen = "0"
    //MaxEE error rate allowed for reads ; default 2
    FmaxEE = "2"
    RmaxEE = "2"
    //min. quality allowed ; default 2
    minQ = "2"
    //Chimeras : method used to remove chimeras ; choices: 'consensus' (default), 'none' or 'pooled'
    chimeras = "consensus"

    //to set if DADA2 MERGE ASVs tables is activated
    //path to dada2 directory with ASV tables to merge (directory must contained only the tables to merge)
    merge_tabledir = "/PATH/TO/merge/table"
    //path to dada2 directory with repseqs to merge (directory must contained only the repseq files to merge)
    merge_repseqsdir = "/PATH/TO/merge/seq"

    /*
    ASV taxonomic assignation using QIIME2 RDP-like program
    */
    //pre-formatted databases can be download here: ftp://ftp.ifremer.fr/ifremer/dataref/bioinfo/sebimer/sequence-set/SAMBA/2019.10/
    database = ""
    //extract region from reference database using primers (default but takes time)
    seqs_db = ""
    taxo_db = ""
    
    /*
    Decontamination step using microDecon package
    */
    //list of control samples. For one control: "control1" ; for more controls: "control1,control2". If no control, set to "none"
    control_list = "none"  
    //number of controls? If no control, set to "0"
    nb_controls = "0" 
    //number of samples (total samples - number of controls)
    nb_samples = ""

    /* 
    Differential abundance testing with ANCOM
    */
    //Variables of interest (comma separated list)
    ancom_var = ""

    /* 
    Functional predictions with PICRUSt2
    */
    //Variables of interest (comma separated list)
    picrust_var = ""     

    /*
    Statistics steps parameters
    */
    //According to your metadata file, list the column names corresponding to the variables of interest (comma separated list)
    //Alpha diversity analysis
       alpha_div_group = ""
       //Kingdom to be represented in barplots
       kingdom = "Bacteria"
       //Maximum number of taxa to represent
       taxa_nb = "10"
    //Beta diversity analysis
       beta_div_var = ""
       //Hierarchical clustering method
       hc_method = "ward.D2"
    //UpsetR analysis (descriptive analysis like venn diagram) 
      desc_comp_crit = ""
      //taxonomic level for bar in UpsetR graph
      desc_comp_tax_level = ""

    //if STATS_ONLY is activated
    inasv_table = "/PATH-TO/your_own_ASV_table.tsv"
    innewick = "/PATH-TO/your_own_tree.nwk"
}
