// Define the executor = cluster scheduler
executor {
    //check in nextflow documentation the scheduler name to match your cluster scheduler system
    name = 'pbspro'
    // according to your scheduler, adjust the exit time out (need to be high for pbspro)
    exitReadTimeout = '10min'
}

// Execution profiles
profiles {
    conda { 
        // Set path to conda binaries to run before processes
        process.beforeScript = ". /appli/anaconda/latest/etc/profile.d/conda.sh" 
    }
}

process {
    //default queue
    queue = 'sequentiel'

    //clusterOptions can be used to add some native specifications not available in the standard parameters
    clusterOptions = '-m n -S /bin/bash'

    withLabel : qiime2_env {
        queue = 'omp'
    }
    withLabel : qiime2_2019_env {
        queue = 'omp'
    }
}
