//Profile config names for nf-core/configs
params {
  config_profile_description = 'The Ifremer Datarmor cluster profile'
  config_profile_contact = 'sebimer@ifremer.fr'
  config_profile_url = 'https://wwz.ifremer.fr/Recherche/Departements-scientifiques/Departement-Infrastructures-de-Recherche-et-Systemes-d-Information/Activites/Bioinformatique'
}

// Define the executor = cluster scheduler
executor {
    //check in nextflow documentation the scheduler name to match your cluster scheduler system
    name = 'pbspro'
    // according to your scheduler, adjust the exit time out (need to be high for pbspro)
    exitReadTimeout = '10min'
}

params {
  max_memory = 115.GB
  max_cpus = 28
  max_time = 24.h
}


// Execution profiles
profiles {
    conda {
        // Set path to conda binaries to run before processes
        process.beforeScript = "LOAD_CONDA_COMMANDS"
    }
}

process {
    //default queue
    queue = 'sequentiel'

    //clusterOptions can be used to add some native specifications not available in the standard parameters
    clusterOptions = '-m n -S /bin/bash'

    withLabel : internet_access {
        queue = 'ftp'
    }
    withLabel : parallel {
        queue = 'omp'
    }
}
