/*
 * -------------------------------------------------
 *  Nextflow test config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for samba processes
 */

params {

    // Analyzed project name
    projectName = "training_longreads"
    // Data type (paired by default)
    singleEnd = false
    // Output directory to publish workflow results
    outdir = "${baseDir}/results/${projectName}"

    // Input parameters for QIIME2
    input_manifest = "${baseDir}/training_dataset/longreads/q2_manifest"
    input_metadata = "${baseDir}/training_dataset/longreads/q2_metadata"

    /*
    Steps to activate or deactivate
    */
    data_integrity_enable = false
    dbotu3_enable = false
    filtering_tax_enable = false
    microDecon_enable = false 
    picrust2_enable = false
    stats_alpha_enable = true
    stats_beta_enable = true
    stats_desc_comp_enable = true
    report_enable = true
    // To compress final result directory set compress_result to true
    compress_result = true
    //STATS ONLY : set stats_only to true if you already have your ASV table
    stats_only = false
    //Dada2 merge process
    dada2merge = false
    //Activate longreads for pacbio or nanopore input data (longreads=false by default to handle illumina short reads)
    longreads = true

    /*
    Mapping parameters
    */
    //pre-formatted databases can be download here: ftp://ftp.ifremer.fr/ifremer/dataref/bioinfo/sebimer/sequence-set/SAMBA/2019.10/
    lr_tax_fna  = "${baseDir}/tax.databases.test/longreads/silva_16S_99_k15.mmi"
    lr_taxo_flat = "${baseDir}/tax.databases.test/longreads/silva_taxonomy_16S_99_majority.txt" 
    lr_type = "map-ont"
    lr_rank = "5"

    //list of control samples. For one control: "control1" ; for more controls: "control1,control2".
    control_list = ""

    /*
    Statistics steps parameters
    */
    //According to your metadata file, list the column names corresponding to your variables of interest (comma separated list)
    alpha_div_group = "Location_name"
    beta_div_var = "Location_name"
    desc_comp_crit = "Location_name,pH"
    //Kingdom to be represented in barplots
    kingdom = "Bacteria"
    //Maximum number of taxa to represent
    taxa_nb = "10"
    //Hierarchical clustering method
    hc_method = "ward.D2"
}
