/*
 * -------------------------------------------------
 *  Nextflow test config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for samba processes
 */

params {

    /* --------------------
     *  General parameters
     * --------------------
     */

    // Analyzed project name
    projectName = "samba_nanopore_test"
    // Output directory to publish workflow results
    outdir = "${baseDir}/results/${projectName}"

    // Input parameters
    excel_sample_file = "${baseDir}/training_dataset/nanopore/nanopore_sample_file.xls"

    // Type of data
    data_type = "nanopore"
    singleEnd = true

    /* -----------------------------
     *  Raw reads length filtering
     * -----------------------------
     */
    
    // Minimum length of raw nanopore reads to keep 
    nanopore_read_minlength = "1100"
    
    // Maximale length of raw nanopore reads to keep
    nanopore_read_maxlength = "1900"

    /* -----------------------------
     *  minimap2 mapping
     * -----------------------------
     */

    // Minibatch size for mapping
    batch_size = "25M"

    // minimap2 preset
    minimap2_preset = "map-ont"

    // Name of the taxonomic database. Can be: silva (7 tax ranks), pr2-4 (8 ranks) or pr2-5 (9 ranks)
    db_name = "silva"

    // Path to a minimap2 index format of the taxonomic database
    minimap2_db = "${baseDir}/tax.databases.test/nanopore/silva_v138.1_16S_NR99_SEQ_k15.mmi"

    /* -----------------------------
     *  Get count table
     * -----------------------------
     */

    // Path to the tabulated file containing the taxonomic reference ID and the associated taxonomy
    ref_tax = "${baseDir}/tax.databases.test/nanopore/silva_v138.1_16S_NR99_TAX.txt"

    // Taxonomic level to analyse data. Can be: Kingdom;Phylum;Class;Order;Genus;Species
    tax_rank = "Genus"

    // Define the Kingdom studied e.g for 16S nanopore reads: "Bacteria" or for 18S nanopore reads: "Eukaryota" 
    kingdom = "Bacteria"

    /* -----------------------------
     *  Statistical analyses
     * -----------------------------
     */

    // Variable(s) to test for alpha and beta diversity
    //can be one variable: "varname"
    //can be several variables to be analyse separately: "varname1,varname2,..."
    stat_var = "Location_name,Date"

    // Number of taxa to represent
    taxa_nb = "10"

}
