/*
 * -------------------------------------------------
 *  Nextflow test config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for samba processes
 */

params {

    /* --------------------
     *  General parameters
     * --------------------
     */

    // Analyzed project name
    projectName = ""
    // Output directory to publish workflow results
    outdir = "${baseDir}/results/${projectName}"

    // Input parameters
    excel_sample_file = ""

    // Type of data
    data_type = "nanopore"
    singleEnd = true

    /* -----------------------------
     *  Raw reads length filtering
     * -----------------------------
     */
    
    // Minimum length of raw nanopore reads to keep 
    nanopore_read_minlength = ""
    
    // Maximale length of raw nanopore reads to keep
    nanopore_read_maxlength = ""

    /* -----------------------------
     *  minimap2 mapping
     * -----------------------------
     */

    // Minibatch size for mapping
    batch_size = "25M"

    // minimap2 preset
    minimap2_preset = "map-ont"

    // Name of the taxonomic database. Can be: silva (7 tax ranks), pr2-4 (8 ranks) or pr2-5 (9 ranks)
    db_name = ""

    // Path to a minimap2 index format of the taxonomic database
    minimap2_db = ""

    /* -----------------------------
     *  Get count table
     * -----------------------------
     */

    // Path to the tabulated file containing the taxonomic reference ID and the associated taxonomy
    ref_tax = ""

    // Taxonomic level to analyse data. Can be: Kingdom;Phylum;Class;Order;Genus;Species
    tax_rank = ""

    // Define the Kingdom studied e.g for 16S nanopore reads: "Bacteria" or for 18S nanopore reads: "Eukaryota"
    kingdom = ""

    /* -------------------------------------
     *  Filter ASV table based on the
     *  taxonomic assignation
     * -------------------------------------
     */

    //List of taxa you want to filter (comma separated list).
    tax_to_filter = ""

    /* -----------------------------
     *  Statistical analyses
     * -----------------------------
     */

    //Normalisation method(s) used
    //can be "rarefaction", "css", "deseq2" or multiple methods: "rarefaction,css,deseq2"
    normalisation_type = "rarefaction,css,deseq2"

    // Variable(s) to test for alpha and beta diversity
    //can be one variable: "varname"
    //can be several variables to be analyse separately: "varname1,varname2,..."
    stat_var = ""

    // Number of taxa to represent
    taxa_nb = "10"

}
