// REPORTS :
reports = "${params.outdir}/01_run_info"
// produce a report in html : report.html
report {
    enabled = true
    overwrite = true
    file = "${reports}/report.html"
}
// create a diagram of tasks
dag {
    enabled = true
    overwrite = true
    file = "${reports}/dag.svg"
}
// produce a timeline report in html : timeline.html
timeline {
    enabled = true
    overwrite = true
    file = "${reports}/timeline.html"
}

// enable trace to get a detailed report on each task trace.txt
trace {
    enabled = true
    overwrite = true
    fields = 'task_id,hash,native_id,process,status,exit,queue,cpus,%cpu,memory,%mem,rss,time,realtime'
    file = "${reports}/trace.tsv"
    sep = '\t'
}
