//define max for resources (expected to be overwritten)
params {
    max_cpus = 28
    max_memory = 115.GB
    max_time = 48.h
}

process {
    // Capture exit codes from upstream processes when piping
    shell = ['/usr/bin/env bash', '-euo', 'pipefail']

    // default for all tasks
    cpus = { check_max( 1 * task.attempt, 'cpus' ) }
    memory = { check_max( 20.GB * task.attempt, 'memory' ) }
    time = { check_max( 1.h * task.attempt, 'time' ) }
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 3
    maxErrors = '-1'

    withLabel : qiime2_env1cpu { 
        cpus = { check_max( 1, 'cpus' ) }
        memory = { check_max( 80.GB * task.attempt, 'memory' ) }
    }
    withLabel : qiime2_env { 
        cpus = { check_max( 14, 'cpus' ) }
        memory = { check_max( 80.GB * task.attempt, 'memory' ) }
    }
    withLabel : qiime2_highRAM { 
        cpus = { check_max( 14, 'cpus' ) }
        memory = { check_max( 115.GB * task.attempt, 'memory' ) }
    }
    withLabel : biopython_env {
        cpus = { check_max( 10, 'cpus' ) }
        memory = { check_max( 40.GB * task.attempt, 'memory' ) }
    }
    withLabel : lr_mapping_env {
        cpus = { check_max( 8, 'cpus' ) }
        memory = { check_max( 100.GB * task.attempt, 'memory' ) }
    }
}
