// Define process selector for tasks resources
process {
    // Capture exit codes from upstream processes when piping
    shell = ['/usr/bin/env bash', '-euo', 'pipefail']

    // default for all tasks
    cpus = 1
    memory = '20GB'
    time = '00:30:00'

   // containers
    withLabel : test_data {
        cpus = 1
        memory = '5GB'
        time = '0:05:00'
    }
    withLabel : qiime2_env { 
        conda = "${baseDir}/containers/qiime2-2020.02/environment.yml" 
        container = "nfcore/samba-qiime2:2020.02"
        cpus = 14
        memory = '80GB'
        time = '01:00:00'
    }
    withLabel : qiime2_2019_env { 
        conda = "${baseDir}/containers/qiime2-2019.10/environment.yml" 
        container = "nfcore/samba-qiime2:2019.10"
        cpus = 14
        memory = '50GB'
        time = '01:00:00'
    }
    withLabel : microdecon_env { 
        conda = "${baseDir}/containers/microdecon-1.0.2/environment.yml"
        container = "nfcore/samba-microdecon:1.0.2"
    }
    withLabel : r_stats_env { 
        conda = "${baseDir}/containers/r-3.6.1/environment.yml" 
        container = "nfcore/samba-r:3.6.1"
    }
    withLabel : seqtk_env { 
        conda = "${baseDir}/containers/seqtk-1.2/environment.yml" 
        container = "nfcore/samba-seqtk:1.2"
    }
    withLabel : jinja2_env {
        conda = "${baseDir}/containers/jinja2-2.11.1/environment.yml"
    }
}

