/*
 * -------------------------------------------------
 *  Nextflow test config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for samba processes
 */

params {

    // Input parameters for QIIME2
    input_manifest = "${baseDir}/training_dataset/q2_manifest"
    input_metadata = "${baseDir}/training_dataset/q2_metadata"

    /*
    Cleaning primers step using cutadapt
    */
    //Set your forward and reverse primers for cutadapt
    primerF = "GTGCCAGCMGCCGCGGTAA"
    primerR = "GACTACHVHHHTWTCTAAT"

    /*
    ASV taxonomic assignation using QIIME2 RDP-like program
    */
    //pre-formatted databases can be download here: ftp://ftp.ifremer.fr/ifremer/dataref/bioinfo/sebimer/sequence-set/SAMBA/2020.02/
    database = "${baseDir}/tax.databases.test/DATABASE_silva_v132_99_16S.qza"
    
   /*
   Decontamination step using microDecon package
   */
    //list of control samples. For one control: "control1" ; for more controls: "control1,control2".
    control_list = "BAQ4166.1.1,BAQ4166.1.2,BAQ4166.1.3"  
    //number of controls
    nb_controls = "3" 
    //number of samples (total samples - number of controls)
    nb_samples = "43"

    /* 
    Differential abundance testing with ANCOM
    */
    //Variable of interest
    ancom_var = "transect_name"   

    /*
    Statistics steps parameters
    */
    //According to your metadata file, select the column name corresponding to the variable of interest
    alpha_div_group = "transect_name"
    beta_div_var = "transect_name"
    sets_analysis_crit = "transect_name"
}
