// Define parameters taht will be accessible in nextflow pipeline script
params {
    //projectName 
    projectName = "TestGraphs2"
    //qiime input parameters
    inmanifest = "$DATAWORK/nextmb/pipeline_indir/merlinmic-RDT/q2_manifest.csv"
    inmetadata = "$DATAWORK/nextmb/pipeline_indir/merlinmic-RDT/q2_metadata.csv"
    //inmetadatamodif = "/home1/datawork/lquintri/nextmb/pipeline_outdir/Merlinmic-16S-RDT/04_taxo/Final_ASV_table_with_taxonomy.tsv"
    stats_only = true
    incount_table = "$DATAWORK/nextmb/pipeline_indir/merlinmic-RDT/Final_ASV_table_with_taxonomy.tsv"
    outdir = "$DATAWORK/nextmb/pipeline_outdir/$projectName"

    //Outputs steps directory names
    report_dirname = "00_report"
    import_dirname = "01_import"
    trimmed_dirname ="02_trimmed"
    dada2_dirname = "03_dada2"
    taxo_dirname = "04_taxo"
    stats_dirname = "05_statistical_analysis"

    //tools environment bash script to load before execution
    qiime_env = ". /appli/bioinfo/qiime/2019.04/env.sh"
    r_stats_env = ". /appli/bioinfo/R/3.6.1/env.sh"

    //cutadapt parameters 
    cutadapt {
        primerF = "ACGGRAGGCAGCAG"
        primerR = "TACCAGGGTATCTAATCCT"
        errorRate = "0.15"
        overlap = "13"
        enable = false
    }
    //dada2 parameters
    dada2 {
        trim3F = "0"
        trim3R = "0"
        trunclenF = "0"
        trunclenR = "220"
        maxee = "2"
        minqual = "2"
        chimeras = "consensus"
        enable = false
    }
    //taxo parameters
    taxo {
        // if using specific ribosome region filtering process before assignation
        db_seqs = '/home/ref-bioinfo/tools_data/qiime2/2019.07/silva_132_99_16S.qza'
        db_tax = '/home/ref-bioinfo/tools_data/qiime2/2019.07/majority_taxonomy_7_levels_99_16S.qza'
        // if using a full ribosome database
        database = '/home/ref-bioinfo/tools_data/qiime2/2019.04/DATABASE_silva_v132_97_16S.qza'
        confidence = '0.8'
        enable = false
    }
    //prepare_data_for_stats
    prepare_data_for_stats {
        enable = true
    }
    // stats parameters
    stats {
        perc_abund_threshold = "5"
        distance = "bray"
        alpha_div_group = "Group"
        beta_div_criteria = "Polymer"
        alpha_enable = true
        beta_enable = true
    }
}
