// Define parameters that will be accessible in nextflow pipeline script
params {
    //projectName 
    projectName = "training_dataset_project"
    //qiime input parameters
    inmanifest = "${baseDir}/training_dataset/q2_manifest"
    inmetadata = "${baseDir}/training_dataset/q2_metadata"
    outdir = "/PATH/TO/OUTDIR/$projectName"

    //Outputs steps directory names
    report_dirname = "00_report"
    data_integrity_dirname = "01_data_integrity"
    import_dirname = "02_import"
    trimmed_dirname ="03_trimmed"
    dada2_dirname = "04_dada2"
    taxo_dirname = "05_taxo"
    stats_dirname = "06_statistical_analysis"
  
    //Steps to activate or deactivate
    data_integrity_enable = true
    qiime_import_enable = true
    cutadapt_enable = true
    dada2_enable = true
    taxo_enable = true
    prepare_data_for_stats_enable = true
    stats_alpha_enable = true
    stats_beta_enable = true
    //STATS ONLY : set stats_only to true if you already have your ASV table
    stats_only = false
    //to set in stats_only=true
    inasv_table = "/PATH/TO/ASV/TABLE/CSV"

    //tools environment bash script to load before execution
    //we advise to create a env.sh file containing the activation of tool conda environment
    qiime_env = ". /appli/bioinfo/qiime/2019.07/env.sh"
    r_stats_env = ". /appli/bioinfo/R/3.6.1/env.sh"

    //data integrity parameters
    data_integrity {
        //add your primer sequences and replace wildcard in the primer sequence by .
        primerF = "GTGCCAGC.GCCGCGGTA"
        primerR = "GACTAC.....T.TCTAAT"
        //columns' names in manifest file
        sampleid_column_name = "sample-id"
        R1_files_column_name = "forward-absolute-filepath"
        R2_files_column_name = "reverse-absolute-filepath"
        //columns' names in metadata file
        barcode_column_name = "barcode"
    }
    //cutadapt parameters 
    cutadapt {
        //Set your forward and reverse primers for cutadapt
        primerF = "GTGCCAGCMGCCGCGGTAA"
        primerR = "GACTACHVHHHTWTCTAAT"
        //Error rate default=0.1
        errorRate = "0.1"
        //Overlap default=(length shortest primer - 1)
        overlap = "18"
    }
    //dada2 parameters
    dada2 {
        //adapt dada2 parameters to fit to your data 
        //trim default=0 (no trimming)
        trim3F = "0"
        trim3R = "0"
        //trunclen : according to the quality plots of your data, set the length of the trimming (0=no initial trimming)
        trunclenF = "0"
        trunclenR = "0"
        //MaxEE error rate allowed for reads ; default 2 = c(2,2)
        maxee = "2"
        //min. quality allowed ; default 2
        minqual = "10"
        //Chimeras : method used to remove chimeras ; choices: 'consensus' (default), 'none' or 'pooled' 
        chimeras = "consensus"
    }
    //taxo parameters
    taxo {
        //extract marker using used primers (default but takes time)
        db_seqs = "/PATH/TO/qiime2/2019.07/silva_132_99_16S.qza"
        db_tax = "/PATH/TO/qiime2/2019.07/majority_taxonomy_7_levels_99_16S.qza"
        //do not extract marker, use complete database (need to be formated for qiime2 before) : set to "yes" or "no"
        extract_db = "no"
        database = " /PATH/TO/qiime2/2019.07/DATABASE_silva_v132_99_16S.qza"
        confidence = '0.8'
    }
    // stats parameters
    stats {
        //percentage threshold for exclude rare ASV ; 0 = no filtering
        perc_abund_threshold = "1"
        //distance method ; choices: 'euclidean', 'bray-curtis', 'manhattan' or 'jaccard'
        distance = "bray"
        //According to your metadata file, select the column name corresponding to the variable of interest
        alpha_div_group = "transect_name"
        beta_div_criteria = "transect_name"
    }
}
