// Define parameters taht will be accessible in nextflow pipeline script
params {
    //projectName 
    projectName = "DIVBAC"
    //qiime input parameters
    inmanifest = "$DATAWORK/nextmb/pipeline_indir/q2_manifest"
    inmetadata = "$DATAWORK/nextmb/pipeline_indir/q2_metadata"
    //outdir = "$DATAWORK/nextmb/pipeline_outdir/$date-$projectName"
    outdir = "$DATAWORK/nextmb/pipeline_outdir/$projectName"

    //Outputs steps directory names
    report_dirname = "00_report"
    import_dirname = "01_import"
    trimmed_dirname ="02_trimmed"
    dada2_dirname = "03_dada2"
    taxo_dirname = "04_taxo"
    stats_dirname = "05_statistical_analysis"

    //tools environment bash script to load before execution
    qiime_env = ". /appli/bioinfo/qiime/2019.04/env.sh"
    r_stats_env = ". /appli/bioinfo/R/3.6.1/env.sh"

    //cutadapt parameters 
    cutadapt {
        primerF = "ACGGRAGGCAGCAG"
        primerR = "TACCAGGGTATCTAATCCT"
        errorRate = "0.15"
        overlap = "13"
        enable = true
    }
    //dada2 parameters
    dada2 {
        trim3F = "0"
        trim3R = "0"
        trunclenF = "0"
        trunclenR = "0"
        maxee = "2"
        minqual = "20"
        chimeras = "consensus"
        enable = true
    }
    //taxo parameters
    taxo {
        db_seqs = '/home/ref-bioinfo/tools_data/qiime2/2019.07/silva_132_99_16S.qza'
        db_tax = '/home/ref-bioinfo/tools_data/qiime2/2019.07/majority_taxonomy_7_levels_99_16S.qza'
        confidence = '0.8'
        enable = true
    }
    //prepare_data_for_stats
    prepare_data_for_stats {
        enable = true
    }
    // stats parameters
    stats {
        perc_abund_threshold = "5"
        distance = "bray"
        column_sample_replicat = "Replicats"
        exp_var_samples = "Groups_species"
        enable = true
    }
}
