// Define the executor = cluster scheduler
executor {
    //check in nextflow documentation the scheduler name to match your cluster scheduler system
    name = 'pbspro'
    // according to your scheduler, adjust the exit time out (need to be high for pbspro)
    exitReadTimeout = '1440min'
}

// Define process selector for tasks resources
process {
    // Capture exit codes from upstream processes when piping
    shell = ['/usr/bin/env bash', '-euo', 'pipefail']

    // default for all tasks (to adapt according to your cluster queues configuration)
    cpus = 1
    queue = 'sequentiel'
    memory = '20GB'
    time = '00:20:00'
    //clusterOptions can be used to add some native specifications not available in the standard parameters
    clusterOptions = '-m n -S /bin/bash'

    //cutadapt process resources : to adapt according to your scheduler queues configuration
    withName : q2_cutadapt {
        cpus = 14
        memory = '50GB'
        queue = 'omp'   
        time = '01:00:00'
    }
    //dada2 process : to adapt according to your scheduler queues configuration
    withName : q2_dada2 {
        cpus = 14
        memory = '50GB'
        queue = 'omp'   
        time = '05:00:00'
    }
    // taxonomy process : to adapt according to your scheduler queues configuration
    withName : q2_taxonomy {
        cpus = 14
        memory = '80GB'
        queue = 'omp'
        time = '10:00:00'
    }
    // phylogeny process : to adapt according to your scheduler queues configuration
    withName : q2_phylogeny {
        cpus = 14
        memory = '50GB'
        queue = 'omp'
        time = '10:00:00'
    }
    // picruts2 process : to adapt according to your scheduler queues configuration
    withName : q2_picrust2 {
        cpus = 14
        memory = '30GB'
        queue = 'omp'
        time = '05:00:00'
    }
}
conda {
    createTimeout = '60min'
}

