// Define the executor = cluster scheduler
executor {
    name = 'pbspro'
    exitReadTimeout = '200min'
}

// Define process selector for tasks resources
process {
    // Use scratch directory for temporary nextflow files
    //scratch = "$SCRATCH"
    // Capture exit codes from upstream processes when piping
    shell = ['/usr/bin/env bash', '-euo', 'pipefail']

    // default for all tasks
    cpus = 1
    queue = 'sequentiel'
    memory = '20GB'
    time = '00:20:00'
    //clusterOptions can be used to add some native specification to pbs pro not available in the standard parameters
    clusterOptions = '-m n -S /bin/bash'

    //cutadapt process
    withName : q2_cutadapt {
        cpus = 14
        memory = '50GB'
        queue = 'omp'   
        time = '01:00:00'
    }
    //dada2 process
    withName : q2_dada2 {
        cpus = 14
        memory = '50GB'
        queue = 'omp'   
        time = '05:00:00'
    }
    // taxonomy process
    withName : q2_taxonomy {
        cpus = 14
        memory = '80GB'
        queue = 'omp'
        time = '10:00:00'
    }
}
