/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

p.subtitle {
    color: #007fcc
}

h1,h2{
  color:#007fcc;
}

h3{
  color:#00609C
}

h4{
  color:#007fcc;
}

h5{
  color:#007fcc;
}

hr.results {
    background-image: linear-gradient(to right, #007fcc, #fbfbfb);
}

div.results {
    color:#007fcc;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    background: #007fcc;
}

#sidebar .sidebar-header {
    background: #007fcc;
}


#sidebar ul li.active>a,
a[aria-expanded="true"] {
    background: #00609C;
}

ul ul a {
    background: #006EAA;
}
