@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: Lato, sans-serif;
    font-size: 1.1em;
    line-height: 1.2em;
    background: #fafafa;
}

p {
    font-family: Lato, sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

h1,h2{
  color:#22ae63;
  margin:0;
  line-height:1.15;
}
h1{
  /*text-transform:uppercase;*/
  font-size:2em;
}
h2{
  font-size:1.5em;
  font-weight:400;
  margin:.25em 0;
}
h3{
  color:#22ae63;
  margin: 0;
  margin-left: 20px;
}
h4{
  color:#22ae63;
  margin: 0;
  margin-left: 40px;
}
h5{
  color:#22ae63;
  margin: 0;
  text-align: center;
}

hr.title {
    border: 0;
    height: 1.5px;
    background: #333;
    background-image: linear-gradient(to right, #757575, #fbfbfb);
}
hr.results {
    border: 0;
    height: 1.0px;
    margin-left: 10px;
    background: #333;
    background-image: linear-gradient(to right, #22ae63, #fbfbfb);
}

div.results {
    color:#22ae63;
    margin-left: 10px;
    font-size: 1.4rem;
}

/* .navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
} */

/* .navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
} */

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* side by side img */
.column {
  float: left;
  width: 50%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

a.link {
    color: #007bff
}

span.highlight {
    color: mediumvioletred
}
p.highlight {
    color: mediumvioletred;
    text-align: center;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.sidebar-title {
    font-size: 2.5em;
    font-weight: 300;
    line-height: 1.7em;
    color: #ffffff;
}

a
,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.9s;
}

/* .wrapper {
    display: flex;
    width: 100%;
} */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #22ae63;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #22ae63;
}

/* #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
} */

/* #sidebar ul p {
    color: #fff;
    padding: 10px;
} */

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

/* #sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
} */

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #0d904a;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #0ccb65;
}

/*ul.CTAs {*/
/*    padding: 20px;*/
/*}*/

/*ul.CTAs a {*/
/*    text-align: center;*/
/*    font-size: 0.9em !important;*/
/*    display: block;*/
/*    border-radius: 5px;*/
/*    margin-bottom: 5px;*/
/*}*/

/* a.download {
    background: #fff;
    color: #7386D5;
} */

/* a.article, */
/* a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
} */

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}


/* cmdline box style */
.md-fences,
tt {
    border: 1px solid #e7eaed;
    background-color: #ebebeb;
    border-radius: 3px;
    padding: 0;
    padding: 2px 4px 0px 4px;
    font-size: 0.9em;
}
.md-fences {
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 6px;
}
.CodeMirror { height: auto; }
.cm-s-inner .cm-keyword { color: rgb(119, 0, 136); }
.cm-s-inner .cm-variable { color: rgb(0, 0, 0); }
.cm-s-inner .cm-string { color: rgb(170, 17, 17); }
.cm-s-inner .cm-property { color: rgb(0, 0, 0); }
.cm-s-inner .cm-operator { color: rgb(152, 26, 26); }
.cm-s-inner .cm-comment, .cm-s-inner.cm-comment { color: rgb(170, 85, 0); }
.cm-s-inner .cm-string-2 { color: rgb(255, 85, 0); }
.cm-s-inner .cm-meta { color: rgb(85, 85, 85); }
.cm-s-inner .cm-qualifier { color: rgb(85, 85, 85); }
.cm-s-inner .cm-builtin { color: rgb(51, 0, 170); }
.cm-s-inner .cm-bracket { color: rgb(153, 153, 119); }
.cm-s-inner .cm-tag { color: rgb(17, 119, 0); }
.cm-s-inner .cm-attribute { color: rgb(0, 0, 204); }
.cm-s-inner .cm-header, .cm-s-inner.cm-header { color: rgb(0, 0, 255); }
.cm-s-inner .cm-quote, .cm-s-inner.cm-quote { color: rgb(0, 153, 0); }
.cm-s-inner .cm-hr, .cm-s-inner.cm-hr { color: rgb(153, 153, 153); }
.cm-s-inner .cm-link, .cm-s-inner.cm-link { color: rgb(0, 0, 204); }
.cm-negative { color: rgb(221, 68, 68); }
.cm-positive { color: rgb(34, 153, 34); }
.cm-header, .cm-strong { font-weight: 700; }
.cm-del { text-decoration: line-through; }
.cm-em { font-style: italic; }
.cm-link { text-decoration: underline; }
.cm-error { color: red; }
.cm-invalidchar { color: red; }
.cm-constant { color: rgb(38, 139, 210); }
.cm-defined { color: rgb(181, 137, 0); }
.CodeMirror { position: relative; overflow: hidden; }
.CodeMirror pre {
  border-radius: 0px;
  border-width: 0px;
  background: 0px 0px;
  font-family: "Lucida Console";
  font-size: inherit;
  margin: 0px;
  margin-left: 10px;
  white-space: pre;
  overflow-wrap: normal;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
}